<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog32">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="[${date:format=HH\:MM\:ss}] ${logger}: ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <castle>
    <components>
      <component id="hostSettings">
        <parameters>
          <BaseAddress>http://localhost:4486/merger</BaseAddress>
        </parameters>
      </component>
      <component id="jiraSettings">
        <parameters>
          <ValidResolutions>
            <array>
              <!-- "1" is "Fixed" -->
              <item>1</item>
            </array>
          </ValidResolutions>
        </parameters>
      </component>
      <component id="gitSettings">
        <parameters>
          <GitExecutable>C:\Program Files (x86)\Git\cmd\git.exe</GitExecutable>
          <UserName>Git Automerger</UserName>
          <EMail>automerger@domain.tld</EMail>
          <!--
          how long should the merger wait before processing a request?
          should mitigate accidental triggering if someone closes and then reopens an issue.
          -->
          <MergeDelay>00:05:00</MergeDelay>
          <RepositoryBasePath>d:\_dev\GitMerger\Repositories</RepositoryBasePath>
          <Repositories>
            <array>
              <item>
                <uri>git@github.com:BhaaLseN/GitMerger</uri>
              </item>
              <item>
                <uri>https://github.com/BhaaLsen/GitMerger.git</uri>
              </item>
            </array>
          </Repositories>
        </parameters>
      </component>
    </components>
  </castle>
</configuration>
