<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="logBaseName" value="GitMerger"/>
  <targets>
    <target name="logfile" xsi:type="File"
            layout="[${date:format=HH\:mm\:ss}] ${logger}: ${message}"
            fileName="${logBaseName}.txt"
            archiveFileName="${logBaseName}.{#}.txt"
            archiveAboveSize="102400"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>